*{
    margin: 0;
    padding: 0;
}
.list ul li{
    color: white;
    display: inline;
    padding-left: 20px;
    position: relative;
    left: 750px;
    top: -65px;
    
}
.image{
    position:  relative;
    top: 0px;
    background-color: black;
    color: white;
    
}
.list ul li i{
    margin-right: 10px;
}
.list ul li a{
    text-decoration: none;
    color: white;
}
.image1{
    position: relative;
    left: 600px;
}
.para{
    position: relative;
    top: -400px;
    left: 80px;
}